body {

     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin: 0px;
     background-color: #8d72de;
     min-height: 100vh;
}
.TopBar {
     z-index: 25;
     position: fixed;
     top: 0;
     left: 0;
     
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 5px;
     background-color: #e8e8e8;
     box-shadow: 1px 1px 20px gray;
     
     /* CORREÇÃO AQUI: */
     width: 100%; /* Em vez de 100vw para evitar scroll horizontal */
     box-sizing: border-box; /* Garante que o padding não aumente os 100% */
     
     height: 40px;
     border-bottom: 2px solid #0000008b;
}

.tobarItens{
     height: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
}

.corBranca {
     color: white;
}
.colorRoxoRosa{
     color: #8d72de;
}
.font-medium{
     font-size: medium;
}
.font-weig{
     font-weight: var(--Fpeso);
}
.font-siz{
     font-size: var(--tamanho);
}

.nostyleList{
     padding-left: 0px;
     list-style: none;
}
.centralizado{
     text-align: center;
}

.imgsize1{
     height: var(--IMGtamanho);
     width: auto;
     object-fit: contain;
}
/* Visual2 */

.tobarItens a{
     display: flex;
     align-items: center;
     justify-content: center;

     height: 100%;
     text-decoration: none;
     color:dimgray;
     margin-right: 10px;
     transition: cubic-bezier(0.77, 0, 0.175, 1);
     transition-duration: .2s;
}
.tobarItens a:hover{
     border-bottom: 1px solid black;
     color:black;
}
.tobarItens a:active{
     border-radius: 5%;
     border-bottom: 4px solid rgba(0, 0, 0, 0.389);
     color:cadetblue;
     transition-duration: .1s;
}
.Link_Logo{
     cursor: default;
     height: 80%;
     display: flex;
     align-items: center;
     text-decoration: none;
     background: transparent !important; /* Mantém sua zona limpa */
}

/* ID's */

#TopBar_logoimg{
     height: 80%;
     width: auto;
     object-fit: contain;
}
#TopBar_logoimg:hover{
     border-radius: 20dvh;
     background-color: #611db42a;
}
#TopBar_logoimg:active{
     border-radius: 20dvh;
     background-color: #4b36657c;
     transition: all 0.1s ease; 
}

.SeparadorVertical_TOPBAR {
     margin-left: 5px;
     margin-right: 10px;
     background-color: rgba(0, 0, 0, 0.1);
     height: calc(70% - 4px);
     width: 1px;
}