.Conteudo {
     z-index: 5;
     position: relative;
     margin-top: 40px; /* Usa margin-top em vez de top para empurrar o fluxo normal */
}
.SessaoPrincipal{
     background-color: #6e6e6e;
     height: 800px;
}

/* Sessao Principal */
.SPRINCIPAL_DIREITA {
     padding: 20px 30px;
     background-color:gainsboro;
     width: calc(35%);
     height: 100%;
}

/* Sessao do rodape */
.Footer{
     padding: 10px 20px;
     display: flex;
     align-items: center;
     justify-content:flex-start;
     border-top:1px solid #321b51;
     background-color:#452a61;
     height: 120px;
}
.SeparadorVertical_FOOTER{
     background-color: #0201023e;
     height: calc(100% - 25px);
     width: 1px;
     margin-left: 10px;
}
.imgs_fotter{
     height: 50px;
     width: auto;
     object-fit: contain;
}

/*  */
.FT1{
     display: flex;
     align-items: center;
     height: 100%;
}
.FT2{
     color: white;
     margin: 0px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     list-style: none;
     align-items: flex-start;
     height: 100%;
}

#Para_Aprender{
     border-radius: 40px;
     text-decoration: none;
     color: white;
     background-color: #755399;
     padding: 10px;
     white-space: nowrap;
}
#Para_Aprender:hover{
     transition-duration: .2s;
     color: white;
     background-color: #895bba;
}
#Para_Aprender:active{
     transition-duration: .2s;
     color: white;
     background-color: #4d316a;
}

.WSaleatorio{
     height: auto;
     width: 100%;
     object-fit: contain;
}