body {
     margin: 0px;
}

.BodyMainmenu {
     background: linear-gradient(0deg, #1c20f3 0%, #5e1497 100%);
}

.RightBar {
     background: linear-gradient(0deg, #aaaaaa 0%, #f5f5f5 100%);
     display: flex;
     width: 100vh;
     height: 100vh;
}

.MenuBarLogo {
     position: relative;
     top: 10px;
     height: 12%;
}

.Footer {
     width: 100%;
     background: linear-gradient(90deg, #39363d 0%, #4217f0 100%);
     color: #fff;
     border-top: 4px solid rgba(97, 97, 97, 0.4);
     padding: 60px 0 20px;
     box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
     justify-self: center;
     align-self: center;
     display: flex;
     justify-content: center;
     align-content: center;
}